<html>
    <head>
        <title>Pathfinder</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <main id="app">

            <div class="search">
                <img src="logo.png">
                <div class="query">
                    <input type="text" name="query" v-model="query.name" placeholder="Search something !" autocomplete="off" @keyup.enter="submit()">
                    <button @click="submit()">🔍</button>
                </div>

                <div class="advanced" :class="{extend:query.advanced}">
                    <div class="name" @click="query.advanced = !query.advanced">Advanced search {{ query.advanced ? "⯆" : "⯈" }}</div>

                    <div class="filters">
                        <div class="name">Level:</div>
                        <div class="filter" v-for="filter in 9" @click="q('levels', filter)" :class="{active:query.levels.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Components:</div>
                        <div class="filter" v-for="filter in components" @click="q('components', filter)" :class="{active:query.components.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Classes:</div>
                        <div class="filter" v-for="filter in classes" @click="q('classes', filter)" :class="{active:query.classes.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Schools:</div>
                        <div class="filter" v-for="filter in schools" @click="q('schools', filter)" :class="{active:query.schools.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Miscelleanous:</div>
                        <textarea class="filter" :class="{active:query.misc}" v-model="query.misc" placeholder="Search in description, casting time, range, ..."></textarea>
                    </div>
                </div>
            </div>

            <transition name="slide">
                <div class="results" v-if="results.length">
                    <h1 class="container">{{ results.length > 20 ? "20+" : results.length.toString() }} results</h1>
                    <transition-group name="list" tag="div">
                        <div v-for="result in results" class="result container" :key="result.name">
                            <h2>{{ format('spell.name', result.name) }}</h2>
                            <h4>{{ format('spell.components', result.components) }}</h4>
                            <p>{{ result.description }}</p>
                            <details class="details">
                                <summary>Details</summary>
                                <ul>
                                   <li v-for="(value, prop) in result" v-if="!/^(?:name|components|description)$/.test(prop)">{{ prop }} : {{ value }}</li>
                                </ul>
                            </details>
                        </div>
                    </transition-group>
                </div>
            </transition>

            <footer>
                <div class="indicator" :class="[connected ? 'online' : 'offline']"></div>
                {{ connected ? "Connected to server" : "Not connected to server" }}
            </footer>

        </main>


        <script src="vue.min.js"></script>
        <script src="script.js"></script>

    </body>
</html>