<html>
    <head>
        <title>Pathfinder</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <main id="app">

            <div class="search">
                <img src="logo.png">
                <input type="text" name="query" v-model="query.name" placeholder="🔍 Search something !" autocomplete="off" @keyup.enter="submit()">

                <div class="advanced" :class="{extend:query.advanced}">
                    <div class="name" @click="query.advanced = !query.advanced">Advanced search {{ query.advanced ? "⯆" : "⯈" }}</div>
                    <div class="filters">
                        <div class="name">Components:</div>
                        <div class="filter" v-for="filter in components" @click="q('components', filter)" :class="{active:query.components.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Classes:</div>
                        <div class="filter" v-for="filter in classes" @click="q('classes', filter)" :class="{active:query.classes.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Schools:</div>
                        <div class="filter" v-for="filter in schools" @click="q('schools', filter)" :class="{active:query.schools.includes(filter)}">{{ filter }}</div>
                    </div>

                    <div class="filters">
                        <div class="name">Miscelleanous:</div>
                        <textarea class="filter" :class="{active:query.misc}" v-model="query.misc" placeholder="Search in description, casting time, range, ..."></textarea>
                    </div>
                </div>
            </div>

            <div class="results">
                <div v-for="message in messages">{{ message }}</div>
            </div>

            <footer>
                <div class="indicator" :class="[connected ? 'online' : 'offline']"></div>
                {{ connected ? "Connected to server" : "Not connected to server" }}
            </footer>

        </main>


        <script src="vue.min.js"></script>
        <script src="script.js"></script>

    </body>
</html>